<!--
	Use ` | safe` to allow html tages within the text string.
	https://mozilla.github.io/nunjucks/templating.html#autoescaping
-->
<div style="font-size:200%;">{{"Smart Mirror" | title}}</div>
<div>{{text | safe}}</div>
